In [34]:
import pandas as pd

In [35]:
df=pd.read_excel('/Users/pritidwivedi/Downloads/OLA_DataSet.xlsx')

In [36]:
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/14183/1...
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0,https://cdn-icons-png.flaticon.com/128/9983/99...
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8,https://cdn-icons-png.flaticon.com/128/9983/99...
3,2024-07-22 03:15:00,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/6839/68...
4,2024-07-02 09:02:00,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0,https://cdn-icons-png.flaticon.com/128/3202/32...

In [37]:
df.shape

(103024, 20)

In [38]:
df.isnull().sum()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                         39057
C_TAT                         39057
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Incomplete_Rides              39057
Incomplete_Rides_Reason       99098
Booking_Value                     0
Payment_Method                39057
Ride_Distance                     0
Driver_Ratings                39057
Customer_Rating               39057
Vehicle Images                    0
dtype: int64

In [39]:
df.duplicated().sum()

np.int64(0)

In [40]:
df.drop(["Vehicle Images","Time"], axis=1, inplace=True)

In [41]:
df.head()

,Date,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating
0,2024-07-26 14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN
1,2024-07-25 22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0
2,2024-07-30 19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8
3,2024-07-22 03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN
4,2024-07-02 09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0

In [42]:
df["C_TAT"].unique()

array([ nan,  30., 130.,  80.,  90.,  40.,  55.,  95.,  35.,  70.,  25.,
        65., 145., 105.,  50.,  60.,  85., 140.,  45., 120., 110., 135.,
       115., 100.,  75., 125.])

In [43]:
df.fillna({"C_TAT": df["C_TAT"].mean()}, inplace=True)

In [44]:
df["V_TAT"].unique()

array([ nan, 203., 238., 252., 231., 133.,  35., 126.,  70., 140.,  42.,
       245.,  84., 168.,  56., 175., 189.,  49.,  77., 210., 287., 294.,
       266., 217., 308.,  63.,  91., 196., 224., 280., 301., 161., 154.,
       182., 259., 105.,  98., 147., 119., 273., 112.])

In [45]:
df.fillna({"V_TAT": df["V_TAT"].mean()}, inplace=True)

In [46]:
a=df.groupby(['Booking_Status'])['Payment_Method'].apply(lambda x:x.isnull().sum())
a

Booking_Status
Canceled by Customer    10499
Canceled by Driver      18434
Driver Not Found        10124
Success                     0
Name: Payment_Method, dtype: int64

In [47]:
df["Payment_Method"] = df["Payment_Method"].fillna(df["Booking_Status"].map({
    "Canceled by Driver": "Not Applicable",
    "Canceled by Customer": "Not Applicable",
    "Driver Not Found": "Not Applicable"
}))

In [48]:
df[["Driver_Ratings","Customer_Rating", "Incomplete_Rides","Canceled_Rides_by_Driver", "Canceled_Rides_by_Customer", "Incomplete_Rides_Reason"]]=df[["Driver_Ratings","Customer_Rating", "Incomplete_Rides","Canceled_Rides_by_Driver", "Canceled_Rides_by_Customer", "Incomplete_Rides_Reason"]].fillna("Not Applicable")

In [49]:
df.isnull().sum()

Date                          0
Booking_ID                    0
Booking_Status                0
Customer_ID                   0
Vehicle_Type                  0
Pickup_Location               0
Drop_Location                 0
V_TAT                         0
C_TAT                         0
Canceled_Rides_by_Customer    0
Canceled_Rides_by_Driver      0
Incomplete_Rides              0
Incomplete_Rides_Reason       0
Booking_Value                 0
Payment_Method                0
Ride_Distance                 0
Driver_Ratings                0
Customer_Rating               0
dtype: int64

In [50]:
df.to_excel('/Users/pritidwivedi/Downloads/OLA_Cleaned.xlsx', index=False)